body {
    background: #FFF;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    background-color: black;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    margin-right: 10px;
}

.riright_section {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.master_name {
    font-size: 30px;
    color: #FFF;
    margin-left: 10px;
}

.menu_text {
    color: #FFF;
}

.author_img {
    justify-content: center;
}


.author_img{
    width: 50px;
    height: 50px;
    background-image: url('your-image.jpg');
    background-size: cover;
    display: block;
    border-radius:50%;
  }